/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: Zane Taylor
 */
html, body { height: 100%; }
html { background: #fff url(../images/bg.png) fixed; }
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans; color: #666;
	background: url(../images/header_bg.png) center 16px no-repeat;
}
#wrap {
	position: relative;
	margin: 0 auto; padding: 0 10px 0 10px;
	width: 780px; min-height: 100%;
	/*background: url(../images/grid_16.png);*/
}
header {
	float: left;
	margin: 0 0 22px 0; padding: 16px 0 0 0;
	height: 48px;
	background: url(../images/tagline_bg.png) left 16px no-repeat;
}
#logo {
	float: left;
	width: 178px; height: 48px;
	background: url(../images/logo.png) no-repeat;
}
#tagline {
	float: right;
	padding: 0 20px 0 0;
	line-height: 48px;
	color: #999; font-weight: 200; font-style: italic;
}
header:hover #tagline { color: #ccc; }
#nav {
	float: right;
	padding: 16px 0 0 1px;
}
#nav li {
	position: relative;
	float: left;
	margin: 0 1px 0 0;
}
#nav a {
	float: left;
	padding: 0 20px;
	line-height: 48px;
	color: #dfdfdf; font-size: 153.9%; text-decoration: none; font-weight: 300;
	background: #333;
}
#nav a:hover {
	color: #333;
	background: url(../images/nav_blank.png);
}
#nav ul ul {
	visibility: hidden;
	position: absolute; top: 48px; right: 0;
	width: 600px;
}
#nav li:hover ul { visibility: visible; }
#nav ul ul li {
	float: right;
	margin: 0;
}
#nav ul ul li a {
	float: left;
	line-height: 32px;
	font-size: 108%;
}
#main {
	clear: both;
	padding: 0 0 64px 0;
}
#content, #sidebar {
	float: left;
}
#content {
	margin: 0 20px 0 0;
	width: 540px;
}
#sidebar {
	width: 220px;
}
h1 {
	margin: 0 0 9px 0;
	font-size: 197%; font-weight: 200;
}

section {
	position: relative;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #fff;
}
section .shadow {
	position: absolute; bottom: -3px; right: -3px; z-index: -1;
	width: 100%; height: 100%;
	background: #666;
	opacity: .16;
}
h3 {
	margin: 0 0 9px 0;
	font-size: 123.1%; font-weight: normal;
}
ol {
	list-style: none;
	margin: 0; padding: 0;
}
ol li {
	line-height: 32px;
	border-bottom: 1px dotted #ccc;
}
ol li:last-child { border: 0; }

#main a { color: #333; font-weight: bold; text-decoration: none; }
#main a:hover { text-decoration: underline; }

/* FOOTER */
footer {
	clear: both;
	position: relative;
	margin: -64px 0 0 0;
	height: 64px;
	line-height: 32px;
	background: url(../images/footer_bg.png) bottom repeat-x;
}
footer li {
	display: inline;
	margin: 0 16px 0 0;
}
#footer a {
	color: #000; font-weight: 500; text-decoration: none;
}
#footer a:hover { text-decoration: underline; }
footer ul, #copyright {
	margin: 0 auto;
	width: 780px;
}
#copyright {
	color: #888; font-size: 85%; font-weight: 200;
}

/* HOME */
#splash, #signup {
	float: left;
}
#splash {
	margin-right: 20px;
	width: 438px;
}
#signup { width: 278px; }

/* BUTTONS */
button, #main a.button {
	float: right;
	margin: 0;
	padding: 0 16px;
	height: 32px;
	line-height: 32px;
	color: #ccc; font-size: 138.5%; text-decoration: none; font-weight: 300;
	border: 0;
	background: #333;
}
button:hover, #main a.button:hover {
	color: #fff;
	background: #444;
}

/* FORMS */
form dt {
	margin: 0 0 4px 0;
}
input {
	border: 1px solid #ccc;
}

/* file uploader */
.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center;    
    background:#880000; border-bottom:1px solid #ddd;color:#fff;
}
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-activae {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../images/uploader/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}












@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}